.outerFrame {
	border-style: solid;
    border-width: 2px;
    width: 580px;
}

.label-align {
	display: inline-block;
	width: 120px;
	text-align: left
}

.input-align {
	display: inline-block;
	float: left;
}

.minMax {
	
	border-style: solid;
    border-width: 1px;
	
}



.titleFrame {
	
	border-style: solid;
    border-width: 1px;
	width: 580px;
}

.innerFrame {
	display: block;
	border-style: solid;
    border-width: 1px;
	width: 580px;

}



.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

// Usage as mixins
.element {
  .pull-left();
}
.another-element {
  .pull-right();
}
